*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    color: #757575;
    font-family: Roboto;
    letter-spacing: 0.03em;
    background-color: #ffffff;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

/** =================== Header ===================== */
.first_box {
    display: flex;
    justify-content: space-between;
    padding: 16px 15px;
}

.logo {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
}

.hd_list {
    display: none;
}

.header_nav {
    display: none;
}

.icon_menu {
    fill: black;
    align-items: center;
}

.icon_menu:hover {
    fill: #2196F3;
}

.logo_part {
    color: #000000;
}

@media screen and (min-width: 768px) {
    .page-header {
        display: flex;
        height: 80px;
        align-items: center;
        padding: 0;
    }

    .header_nav {
        display: flex;
    }

    .hd_list {
        display: flex;
        flex-direction: row;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
    }

    .hd_list a {
        color: #212121
    }

    .hd_item_1:hover {
        color: #2196F3;
    }

    .hd_item {
        margin-top: 15px;
        margin-left: 70px;
    }

    .hd_inf {
        display: flex;
        align-items: center;
    }
    .inf_item {
        display: flex;
        align-items: center;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;
        margin-right: 50px;
        margin-bottom: 25px;
    }

    .a_item {
        color: #757575;
        margin-top: 15px;
    }

    .a_item:hover {
        color: #2196F3;
    }

    .a_item:hover .icon_mail {
        fill: #2196F3;
    }

    .a_item:hover .icon_phone {
        fill: #2196F3;
    }
    .icon_mail {
        fill: #757575;
        margin-right: 10px;
    }

    .icon_phone {
        fill: #757575;
        margin-right: 10px;
    }

    .icon_menu {
        display: none;
    }

    .logo {
        color: black;
    }
}



@media screen and (min-width: 1200px) {
    .logo_part {
        color: #000000;
    }

    .logo {
        color: #2196F3;
    }
}

@media screen and (max-width: 1200px) {
    .hd_inf {
        flex-direction: column;
    }

}

/** ============================= Герой ============================ */
.hero {
    background-image: url(img/cool.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 118px;
    padding-bottom: 118px;
}

.hero_text {
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero_button {
    width: 180px;
    height: 50px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    padding: 20px 24px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.hero-button:hover {
    background-color: #188CE8;
}

/** ======================Feature=============================== */

.wrap-icon {
    background-color: #F5F4FA;
    border-radius: 4px;
    text-align: center;

    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 30px;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.feature-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #757575;
}


@media screen and (min-width:768px) {
    .feature-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        margin: -7.5px;
    }

    .feture-item {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    .feature-title {
        text-align: start;
    }
}

@media screen and (min-width:1200px) {
    .feture-item {
        width: calc((100% - 4 * 30px) / 4);
    }

    .feature-section {
        padding-bottom: 0;
    }
}

/** ======================What are we doing=============================== */

.section-work {
    display: none;
}


@media screen and (min-width:1199px) {
    .section-work {
        display: flex;
    }

    .work-list {
        display: flex;

    }

    .work-item:not(:last-child) {
        margin-right: 30px;
    }

    .work-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;

        margin-bottom: 25px;
    }
}
@media screen and (max-width:1199px) {
   .section-work{
    display: none;
   }
}
/** ================Our team=============== */

.section-team {
    background-color: #F5F4FA;
}

.main_title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 30px;
}

.team-list {
    margin-bottom: 30px;
}

.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    margin-bottom: 30px;
    padding-bottom: 30px;
}

.team-item img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}



.team-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.team-text {
    text-align: center;
    color: #757575
}

@media screen and (min-width:768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
    }

    .team-item {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

}

@media screen and (min-width:1200px) {
    .team-item {
        width: calc((100% - 8 * 15px) / 4);
    }
}


/** ====================Client=============== */

.clients-title {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;

    margin-bottom: 30px;
}

.clients_list {
    display: flex;
    flex-wrap: wrap;
}

.clients_item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    width: 210px;
    height: 90px;
    width: calc((100% - 15px * 4) / 2);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.clients_icon {
    fill: #AFB1B8;
}

.clients_item:hover .clients_icon {
    fill: #2196F3;
}

.clients_item:hover {
    border: 1px solid #2196f3;
}

@media screen and (min-width:768px) {

    .clients_item {
        width: calc((100% - 6 * 15px) / 3);
        margin: 15px;
    }
}

@media screen and (min-width:1200px) {
    .clients_item {
        width: calc((100% - 12 * 15px) / 6);
    }
}

/* <=====================Foot==============> */
.footer_sect {
    background-color: #2F303A;

    font-size: 14px;
    line-height: 1.7;
    padding: 60px 0;
}


.logo_2 {
    font-family: 'Raleway';
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;

    display: block;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.logo_part_2 {
    color: #2196f3;
}

.contact {
    font-style: normal;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.foot_link {
    display: block;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}